*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
output.json
google-services.json

# Gradle
.gradle/
**/build/

# Android Studio
*.iml
.idea/
.navigation/

# Local configuration
local.properties

# Keystore
*.jks
*.keystore
!keystore/w11mobile-upload.jks

# Log/OS
*.log
.DS_Store
Thumbs.db
